<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login </title>
    <link rel="stylesheet" href="{% static 'css/bookstyle.css' %} ">
  </head>
  <body>
    <div id="header">
      <h1>Book Record Management</h1>

    </div>
    <div id="main">
      <form method="POST">
        {% csrf_token%}
        <table>
          <tr>
            <td><label for='username'>Username</label></td>
            <td><input type="text" name="username" id="username"></td>
          </tr>
          <tr>
            <td><label for='password'>Password</label></td>
            <td><input type="password" name="password" id="password"></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Login"></td>
          </tr>
        </table>
      </form>
      <p>{{error}}</p>
    </div>
  </body>
</html>
